#Environments
.env
.env.*
!.env.example
*.pem
*.key

#Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

#Virtual Environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

#IDE
.idea/
*.swp
*.swo
*~